{% extends "base.html.jinja2" %}
{% block title %}Achievements | {{ super() }}{% endblock %}
{% block nav_achievements %}class="nav-link active" aria-current="page"{% endblock %}
{% block content %}
    <h1 class="title">Achievements</h1>
    <p class="lead">Achievements in <a href="#marathons">marathons</a>, in <a href="#reoccurring_events">reoccurring
        events</a> and some highlighted <a href="#bike_highlights">bike challenges</a>. Age group (AK) according to the
        bylaws of <a href="https://www.leichtathletik.de/service/downloads">Deutscher Leichtathletik Verband</a>.</p>
    <section id="marathons" class="row mb-4">
        <h2>Marathons and other highlights</h2>
        <div class="col-12">
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    {% set render_map_column = assets_present and one_time_only_events["activity_id"].any(skipna=False) %}
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>AK</th>
                                    <th>Event</th>
                                    <th>Time</th>
                                    <th colspan="{{ 3 if render_map_column else 2 }}">Pace</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for event in one_time_only_events.itertuples() %}
                                    <tr>
                                        <td class="tab-nums">{{ event['achieved_at']|fmt_date }}</td>
                                        <td>{{ event['age_group'] }}</td>
                                        <td>{{ event['name'] }}</td>
                                        <td class="tab-nums">{{ event['time'] }}</td>
                                        <td class="tab-nums">{{ event['pace'] if event['pace'] is not none }}</td>
                                        <td class="text-center">
                                            {% if assets_present and event['certificate'] %}
                                                <a href="{{ url_for('static', filename='assets/certificates/' ~ event['certificate']) }}"><i
                                                        class="bi-patch-check"></i></a>
                                            {% endif %}
                                        </td>
                                        {% if render_map_column %}
                                            <td class="text-center">
                                                {% if event['activity_id'] %}
                                                    {% set activity_id = event['activity_id']|fmt_int %}
                                                    <div style="display: none">
                                                        <img src="{{ url_for('activity_map', activity_id=activity_id) }}"
                                                             id="{{ activity_id }}" alt="{{ event['name'] }}"
                                                             class="activity-map"/>
                                                    </div>
                                                    <a href="#" tabindex="0" data-bs-toggle="popover"
                                                       data-bs-title="{{ event['name'] }}" data-bs-html="true"
                                                       data-ms-activity-id="{{ activity_id }}"><i
                                                            class="bi-map"></i></a>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <p>
                The Antwerp Half Marathon 2023 was definitely a highlight in the last 5 years. I did train a lot in
                2023, especially for the really hard <em>Heuvelland Marathon</em>. That paid of first in Duisburg (it
                was incredible hot there), then on the Monschau Marathon (I was so happy during the whole race) and then
                in Antwerp, where I beat my aim of 1:30 by nearly 3 minutes. Luckily I didn't get the memo that one
                isn't supposed to become faster at old age 😉.
            </p>
            <p>
                In 2024 I did my first Triathlon, and it was a blast: 500m {{ 'swimming'|fmt_sport }}️ in 8:41,
                21km {{ 'cycling'|fmt_sport }} in 36:36 and 5km{{ 'running'|fmt_sport }} in 22:15. I never thought I
                would be doing such a thing, neither with my terrible eye-sight nor with regard to running 6 years
                prior.
            </p>
            <p>
                In general, I do like challenges:
            </p>
            <ul>
                <li>5 times Rapha Festive 500 in a row</li>
                <li><a href="https://www.stoneman-arduenna.com">Stoneman Arduenna</a> in one go</li>
                <li><a href="https://vatternrundan.se/en/">Vätternrundan</a> 320km in 2021</li>
                <li><a href="https://www.cyclinginflanders.cc/flandrien-challenge">Flandrien Challenge</a> in three days
                </li>
                <li>
                    <a href="https://info.michael-simons.eu/2025/02/14/stepping-out-of-my-comfort-zone-no-rest-for-the-wicked/">No
                        Rest for the Wicked 2025</a> in 13 days
                </li>
            </ul>
        </div>
        <nav class="nav">
            <a href="#start" class="nav-link"><i class="bi-arrow-up-circle"></i>&#160;Back to top </a>
        </nav>
    </section>
    <section id="reoccurring_events" class="row mb-4">
        <h2>Reoccurring events</h2>
        <div class="col-12">
            <div class="row">
                {% for event in reoccuring_events %}
                    <div class="col-xl-4 col-lg-6 col-sm-12">
                        <h3>{{ event[0] }}</h3>
                        {% set render_map_column = assets_present and event[1]|map(attribute='activity_id')|select|first %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>AK</th>
                                        <th>Distance</th>
                                        <th>Time</th>
                                        <th colspan="{{ 3 if render_map_column else 2 }}">Pace</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    {% for result in event[1] %}
                                        <tr>
                                            <td class="tab-nums">{{ result['achieved_at']|fmt_date }}</td>
                                            <td>{{ result['age_group'] }}</td>
                                            <td class="tab-nums">{{ result['distance']|fmt_double }}</td>
                                            <td class="tab-nums">{{ result['time'] }}</td>
                                            <td class="tab-nums">{{ result['pace'] if event['pace'] is not none }}</td>
                                            <td class="text-center">
                                                {% if assets_present and result['certificate'] %}
                                                    <a href="{{ url_for('static', filename='assets/certificates/' ~ result['certificate']) }}"><i
                                                            class="bi-patch-check"></i></a>
                                                {% endif %}
                                            </td>
                                            {% if render_map_column %}
                                                <td class="text-center">
                                                    {% if result['activity_id'] %}
                                                        {% set activity_id = result['activity_id']|fmt_int %}
                                                        <div style="display: none">
                                                            <img src="{{ url_for('activity_map', activity_id=activity_id) }}"
                                                                 id="{{ activity_id }}" alt="{{ event[0] }}"
                                                                 class="activity-map"/>/>
                                                        </div>
                                                        <a href="#" tabindex="0" data-bs-toggle="popover"
                                                           data-bs-title="{{ event[0] }}" data-bs-html="true"
                                                           data-ms-activity-id="{{ activity_id }}"><i
                                                                class="bi-map"></i></a>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if assets_present %}
            <p>
                Yes, the Aachener Sylvesterlauf used to be called <em>Sylvesterlauf</em> until 2022, it's not a typo. In
                2022, they changed the course and the name, and now it's Silvesterlauf.
                <br/>
                I used the net-times in the above tables if available. I'm pretty sure that <a
                    href="https://time-and-voice.com">
                Time and Voice</a> has mixed up gross and net for Rursee 2021, though.
            </p>
            <p>
                A selection of pictures from those events that I bought <a
                    href="https://www.sportograf.com/de">Sportograf</a> (The picture on the <a
                    href="{{ url_for('index') }}">start page</a> is also from Sportgraf, from the Winterlauf 2019):
            </p>
            <div class="col-12">
                <div class="row pb-2 ms-2 me-2">
                    <div class="col-4 p-1">
                        <img src="{{ url_for('static', filename='assets/achievements/2018_sylvesterlauf.jpg') }}"
                             class="img-fluid img-thumbnail" alt="Sylvesterlauf 2018">
                    </div>
                    <div class="col-4 p-1">
                        <img src="{{ url_for('static', filename='assets/achievements/2018_winterlauf.jpg') }}"
                             class="img-fluid img-thumbnail" alt="Dezember 2018, Winterlauf">
                    </div>
                    <div class="col-4 p-1">
                        <img src="{{ url_for('static', filename='assets/achievements/2019_rursee.jpg') }}"
                             class="img-fluid img-thumbnail" alt="Rursee Marathon 2019">
                    </div>
                    <div class="col-4 p-1">
                        <img src="{{ url_for('static', filename='assets/achievements/2022_winterlauf1.jpg') }}"
                             class="img-fluid img-thumbnail" alt="März 2022, Winterlauf 1">
                    </div>
                    <div class="col-4 p-1">
                        <img src="{{ url_for('static', filename='assets/achievements/2022_rursee.jpg') }}"
                             class="img-fluid img-thumbnail" alt="Rursee Marathon 2022">
                    </div>
                    <div class="col-4 p-1">
                        <img src="{{ url_for('static', filename='assets/achievements/2022_sylvesterlauf.jpg') }}"
                             class="img-fluid img-thumbnail" alt="Sylvesterlauf 2022">
                    </div>
                </div>
            </div>
        {% endif %}
        <section id="development" class="row mb-4">
            <h2>Development</h2>
            <p>
                This comes straight from my Garmin data for running which I am tracking since 2017. In the three charts
                you see the minimum, median and the maximum as well as the p05 and p95 percentiles. I created buckets
                for the distances in a range of 5% below and 20% over the goal distance.
            </p>
            <div class="col-12">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-sm-12 chart">
                        <div id="development_5k"></div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-12 chart">
                        <div id="development_10k"></div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-12 chart">
                        <div id="development_21k"></div>
                    </div>
                </div>
            </div>
        </section>
        <nav class="nav">
            <a href="#start" class="nav-link"><i class="bi-arrow-up-circle"></i>&#160;Back to top </a>
        </nav>
    </section>
    {% if assets_present %}
        <section id="bike_highlights" class="row mb-4">
            <h2>On bikes</h2>
            <p>
                I don't see myself participating in bike races anytime soon, but I did do some pretty cool challenges in
                the
                last couple of years, such as doing the <a href="https://www.stoneman-arduenna.com">Stoneman
                Arduenna</a> on
                a Gravel bike in one day, racing the Vätternrundan and becoming a <a
                    href="https://www.cyclinginflanders.cc/flandrien-challenge">true Flandrien</a>.
            </p>
            <div class="col-12">
                <div class="row pb-2 ms-2 me-2">
                    <div class="col-4 p-1">
                        <img src="{{ url_for('static', filename='assets/achievements/2021_stoneman_arduenna.jpg') }}"
                             class="img-fluid img-thumbnail" alt="June 2021, Stoneman Arduenna">
                    </div>
                    <div class="col-4 p-1">
                        <img src="{{ url_for('static', filename='assets/achievements/2021_ vaetternrundan.jpg') }}"
                             class="img-fluid img-thumbnail" alt="September 2021, Finishing Vätternrundan">
                    </div>
                    <div class="col-4 p-1">
                        <img src="{{ url_for('static', filename='assets/achievements/2023_flandrien_challenge.jpg') }}"
                             class="img-fluid img-thumbnail"
                             alt="August 2023, My cobble on Flandrien Challenge wall of fame">
                    </div>
                </div>
            </div>
            <p>Apart from collecting the "Gran Fondo"-Badge every month since 2018 on Strava, I did the <a
                    href="https://content.rapha.cc/at/de/a/story/festive-500">Rapha Festive500</a> challenge 5 years in
                a row:</p>
            <div class="col-12">
                <div class="row pb-2 ms-2 me-2">
                    {% for y in range(2018, 2023) %}
                        <div class="col-1 p-0 pe-1">
                            <img src="{{ url_for('static', filename='assets/strava/{:d}/{:d}-12_Festive500.png'.format(y, y)) }}"
                                 class="img-thumbnail strava-thumb m-0" alt="Strava 100k per month">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <p>Early September 2023 I managed to reach a 42x42 explore square, and I'm quite happy about it. More will
                be quite complicated, with the open-brown-coal mine in the east and some nature reserves in the
                south.</p>
            <div class="col-12">
                <img src="{{ url_for('static', filename='assets/veloviewer/VV_Tiles.jpg') }}"
                     class="img-fluid img-thumbnail" alt="42x42 Velowviewer Tiles">
            </div>
            <p>At the end of 2024 I created my own explorer, check it out if you like: <a
                    href="{{ url_for('explorer') }}">Explore the Earth, one tile at a time</a>.</p>
            <nav class="nav">
                <a href="#start" class="nav-link"><i class="bi-arrow-up-circle"></i>&#160;Back to top </a>
            </nav>
        </section>
    {% endif %}

    <script>
        const years = [{{ development['years']|map('tojson')|join(', ') }}];

        function to_mi_ss(val) {
            return Math.floor(val / 60) + ':' + String(Math.round(val % 60)).padStart(2, '0');
        }

        function create_chart(data, title, target) {

            const labels = {0: 'Min', 1: 'p05', 2: 'Median', 3: 'p95', 4: 'Max'}
            const datasets = [];
            for (let i = data.length - 1; i >= 0; i--) {
                datasets.push({
                    type: 'line',
                    name: labels[i],
                    data: data[i],
                    lineStyle: {
                        width: i === 0 || i === 4 ? 3 : 1.5,
                    },
                    fill: i === 0 ? 0 : -1,
                    symbolSize: 6
                })
                if (i === 0) {
                    datasets[i].stack = 'hlp';
                }
            }
            if (data.length !== 0) {
                datasets.push({
                    name: 'Area',
                    type: 'line',
                    data: data[data.length - 1].map((v, i) => data[0][i] - v),
                    lineStyle: {
                        opacity: 0
                    },
                    symbol: 'none',
                    areaStyle: {
                        color: 'rgba(124,181,235,0.4)',
                    },
                    tooltip: {
                        show: false
                    },
                    stack: 'hlp',
                    stackStrategy: 'positive',
                })
            }

            const domTarget = document.getElementById(target);
            const option = {
                animation: false,
                title: {
                    text: title,
                    left: 'center',
                    textStyle: {
                        fontSize: 14
                    }
                },
                grid: {
                    top: '6%',
                    left: "8%",
                    right: "8%",
                    bottom: "10%"
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    },
                    valueFormatter: to_mi_ss
                },
                xAxis: {
                    data: years,
                    boundaryGap: false,
                    splitLine: {
                        show: true
                    }
                },
                yAxis: {
                    type: 'value',
                    scale: true,
                    inverse: true,
                    nameLocation: 'center',
                    nameGap: 40,
                    name: 'Pace (mm:ss)',
                    axisLabel: {
                        formatter: to_mi_ss
                    }
                },
                series: datasets
            }
            const chart = echarts.init(domTarget);
            chart.setOption(option);
            new ResizeObserver(() => chart.resize()).observe(domTarget);
            return chart;
        }

        window.onload = function () {
            {% for key in development['percentiles'] %}
                create_chart([{{ development['percentiles'][key]|list|map('tojson')|join(', ') }}], '{{key}}', 'development_{{key}}')
            {% endfor %}
        }
    </script>
{% endblock %}
