{% extends "base.html.jinja2" %}
{% block title %}Mileage | {{ super() }}{% endblock %}
{% block nav_mileage %}class="nav-link active" aria-current="page"{% endblock %}
{% block content %}
    <h1 class="title">Mileage</h1>
    <p class="lead">
        My <a href="#cycling">cycling</a> and <a href="#running">running</a> statistics as well as the <a
            href="#yearly_totals">yearly totals</a> since 2018.
    </p>
    <section id="cycling" class="row mb-4">
        <h2>🚴🏻 Cycling</h2>
        {% for summary in ytd_summary.itertuples() %}
            <div>
                <p>
                    My preferred bike in <strong id="last_year">{{ summary['last_recording'].strftime('%Y') }}</strong>
                    is my <strong>{{ summary['preferred_bike'] }}</strong>. That year's mileage accumulates to
                    <strong>{{ summary['total']|fmt_double }}km</strong>, making up for an average
                    <strong>{{ summary['avg_per_month']|fmt_double }}km</strong> per month. The worst month was
                    <strong>{{ summary['worst_month'].strftime('%B %Y') }}</strong> with
                    <strong>{{ summary['worst_month_value']|fmt_double }}km</strong>, the best month was
                    <strong>{{ summary['best_month'].strftime('%B %Y') }}</strong> with
                    <strong>{{ summary['best_month_value']|fmt_double }}km</strong>.
                </p>
                <div class="col-sm-12 col-lg-9 me-2 chart">
                    <div id="current_year"></div>
                </div>
            </div>
        {% endfor %}
        <div>
            <p>
                This chart shows my overall monthly average together with the minimum and maximum range for each month.
                The red line is the overall monthly average since recording mileages. It was heavily inspired by
                "Temperaturkurve" at <a href="http://www.goetemp.de">Goetemp</a>, a project of my friend <a
                    href="http://www.jan-von.de">Jan</a>.
            </p>
            <div class="col-sm-12 col-lg-9 me-2 chart">
                <div id="monthly_average"></div>
            </div>
        </div>
        <nav class="nav">
            <a href="#start" class="nav-link"><i class="bi-arrow-up-circle"></i>&#160;Back to top </a>
        </nav>
    </section>
    <section id="running" class="row mb-4">
        <h2>🏃 Running</h2>
        <p>
            I began running pretty late in my life in my late thirties. It really grew on me and what started as
            irregular 3 to 6km runs, grew steadily into a habit of running at least one 21k each month. Since 2020 I did
            not miss one month without one. With the peak of the pandemic in 2021 and 2022, I increased to an average
            100k in total per month… It really helped me to keep my head in a positive flow, and I'm still not tired of
            it.
        </p>
        {% if assets_present %}
            <div class="col-12">
                {% for y in range(2021, max_year + 1) %}
                    <div class="row pb-2 ms-2 me-2">
                        {% for m in range(1,13) %}
                            <div class="col-1 p-0 pe-1">
                                <img src="{{ url_for('static', filename='assets/strava/{:d}/{:d}-{:02d}_100km_r.png'.format(y, y, m)) }}"
                                     class="img-thumbnail strava-thumb m-0" alt="Strava 100k per month">
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <nav class="nav">
            <a href="#start" class="nav-link"><i class="bi-arrow-up-circle"></i>&#160;Back to top </a>
        </nav>
    </section>
    <section id="yearly_totals" class="row mb-4">
        <h2>📊 Yearly totals</h2>
        <p>
            The following infographics are created by <a href="https://veloviewer.com">Veloviewer</a> and they are
            clickable. I do like that overall summary a lot.
        </p>
        {% if assets_present %}
            <div class="col-12">
                <div class="row pb-2 ms-2 me-2">
                    {% for y in range(2018, max_year + 1) %}
                        <div class="col-xl-3 col-lg-4 col-6 p-0 pe-1">
                            <a href="{{ url_for('static', filename='assets/veloviewer/VV_' ~ y ~ '.png') }}">
                                <img src="{{ url_for('static', filename='assets/veloviewer/VV_' ~ y ~ '.png') }}"
                                     class="rounded img-thumbnail" alt="Veloviewer statistics">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <nav class="nav">
            <a href="#start" class="nav-link"><i class="bi-arrow-up-circle"></i>&#160;Back to top </a>
        </nav>
    </section>

    <script>
        window.onload = function () {
            const current_year = document.getElementById("current_year");
            if (current_year) {
                const option = {
                    animation: false,
                    title: {
                        text: "Milage in " + document.getElementById("last_year").innerText,
                        left: 'center',
                        textStyle: {
                            fontSize: 14
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    legend: {
                        data: [{{ ytd_bikes.columns.to_list()|map('tojson')|join(', ') }}],
                        top: 30,
                    },
                    grid: {
                        left: "6%",
                        right: "3%",
                        bottom: "10%"
                    },
                    xAxis: {
                        data: [{{ ytd_totals['month'].to_list()|map('tojson')|join(', ') }}],
                        splitLine: {
                            show: true
                        }
                    },
                    yAxis: {
                        type: 'value',
                        nameLocation: 'center',
                        nameGap: 40,
                        name: 'Mileage (km)'
                    },
                    series: [
                        {% for name, row in ytd_bikes.items() %}
                            {
                                type: 'bar',
                                name: '{{ name }}',
                                data: [{% for v in row %} {{ v ~ ','}} {% endfor %}],
                                emphasis: {
                                    focus: 'series'
                                },
                                color: '{{ bikes.loc[bikes['name'] == name]['color'].values[0] }}',
                                itemStyle: {
                                    normal: {
                                        barBorderColor: '{{ bikes.loc[bikes['name'] == name]['color'].values[0] }}',
                                    }
                                }
                            },
                        {% endfor %}
                        {
                            type: 'line',
                            name: 'Total (Including assorted trips and bikes)',
                            data: [{{ ytd_totals['value'].to_list()|join(', ') }}],
                            smooth: true,
                            color: '#7CB5EB',
                            symbolSize: 6
                        }
                    ]
                };
                const chart = echarts.init(current_year);
                chart.setOption(option);
                new ResizeObserver(() => chart.resize()).observe(current_year);
            }

            const monthly_average = document.getElementById("monthly_average");
            const max = [{{ monthly_averages['maximum'].to_list()[0:-1]|map('tojson')|join(', ') }}];
            const min = [{{ monthly_averages['minimum'].to_list()[0:-1]|map('tojson')|join(', ') }}];
            const option = {
                animation: false,
                title: {
                    text: "Monthly average",
                    left: 'center',
                    textStyle: {
                        fontSize: 14
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    left: "6%",
                    right: "3%",
                    bottom: "10%"
                },
                xAxis: {
                    data: [{{ monthly_averages['month'].to_list()[0:-1]|map('tojson')|join(', ') }}],
                    boundaryGap: false,
                    splitLine: {
                        show: true
                    }
                },
                yAxis: {
                    type: 'value',
                    nameLocation: 'center',
                    nameGap: 40,
                    name: 'Mileage (km)'
                },
                series: [
                    {
                        name: 'Maximum',
                        type: 'line',
                        data: max,
                        color: 'rgba(124,181,235,0.4)',
                        symbol: 'none',
                        stack: 'hlp'
                    },
                    {
                        name: 'Area',
                        type: 'line',
                        data: max.map((v, i) => min[i] - v),
                        lineStyle: {
                            opacity: 0
                        },
                        symbol: 'none',
                        areaStyle: {
                            color: 'rgba(124,181,235,0.4)',
                        },
                        tooltip: {
                            show: false
                        },
                        stack: 'hlp',
                        stackStrategy: 'positive',
                    },
                    {
                        name: 'Average',
                        type: 'line',
                        data: [{{ monthly_averages['average'].to_list()[0:-1]|map('tojson')|join(', ') }}],
                        color: '#7CB5EB',
                        symbolSize: 6,
                        markLine: {
                            data: [
                                {
                                    yAxis: '{{ monthly_averages['average'][12] }}',
                                    label: {
                                        show: false
                                    }
                                }
                            ],
                            symbol: 'none',
                            lineStyle: {
                                type: 'solid',
                                color: '#F04124',
                            }
                        }
                    },
                    {
                        name: 'Minimum',
                        type: 'line',
                        data: min,
                        color: 'rgba(124,181,235,0.4)',
                        symbol: 'none'
                    }
                ]
            };
            const chart = echarts.init(monthly_average);
            chart.setOption(option);
            new ResizeObserver(() => chart.resize()).observe(monthly_average);
        };
    </script>
{% endblock %}
