### running-free specifics ###

sport.db
Gear
Misc/**
!Misc/No Rest for the Wicked/
!Misc/No Rest for the Wicked/evaluate.sql
Strava Badges
Veloviewer Stats
generator/static/assets
generator/static/gallery
!generator/misc
generator/templates/gear
generator/tracks
backup
import
Garmin
Urkunden
*.wal

.venv
.secrets

### Misc ###
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

.DS_Store
dependency-reduced-pom.xml
\.*.swp
